body {
  background: hsl(216, 15%, 48%);
  font-size: 15px;
}

.container {
  background: hsl(212, 45%, 89%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  width: 250px;
  background-color: white;
  padding: 20px;
  border-radius: 5%;
  align-items: center;
}

img {
  border-radius: 5%;
  height: 250px;
}

.text {
  grid-row: 2;
  grid-column: 1 / 4;
  text-align: center;
}

.attribution {
  grid-column: -3 / -2;
  grid-row: 3 / 4;
}
